<mat-toolbar [color]="'primary'" color="primary">
  @if(headerStore.goBack()){

  <button mat-icon-button (click)="onGoBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  } @else {
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  }

  <h1>{{ headerStore.title() }}</h1>

  <span class="example-spacer"></span>

  <mat-form-field appearance="outline">
    <mat-label> {{ "language-selector.language" | translate }} </mat-label>
    <mat-select value="es" (selectionChange)="onChangeLanguage($event)">
      <mat-option value="en">English</mat-option>
      <mat-option value="es">Castellano</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
