<mat-sidenav-container
  class="example-container"
  (backdropClick)="toggleSidenav($event)"
>
  <mat-sidenav mode="over" [opened]="sidenavStore.isOpenSidenav()">
    <h2 i18n>Menu</h2>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/songs']" i18n>Canciones</mat-list-item>
      <mat-list-item i18n>Artistas</mat-list-item>
      <mat-list-item i18n>Compañías discográficas</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
