@let song = populatedSongDetail(); @if(song && !songsStore.isLoading()){
<mat-card class="song-detail__card">
  <mat-card-header>
    <mat-card-title
      >{{ song?.title }} ({{ song?._artist?.name }})</mat-card-title
    >
  </mat-card-header>
  <img
    width="512"
    height="320"
    mat-card-image
    class="song-detail__card-image"
    [src]="song?.poster"
    alt="Song poster"
  />
  <mat-card-content>
    <p>Género</p>
    @for (tag of song?.genre; track $index) {
    <mat-chip>{{ tag }}</mat-chip>
    }
    <div class="details">
      <p>Compañías discográficas:</p>

      @for(company of song?._companies; track company.id){
      <mat-chip>{{ company?.name }}</mat-chip>
      } @empty { -- }

      <p><strong>País:</strong> {{ song?._companies?.[0]?.country || "--" }}</p>
      <p><strong>Año:</strong> {{ song?.year | date : "YYYY" }}</p>
    </div>
  </mat-card-content>
</mat-card>

<div class="song-detail__floating-buttons">
  <button
    mat-fab
    color="primary"
    class="songs-list__add-song-button"
    [matTooltip]="editTooltip()"
    [routerLink]="['edit']"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <button
    mat-fab
    color="primary"
    class="songs-list__add-song-button"
    [matTooltip]="deleteTooltip()"
    (click)="onDelete()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
} @else {
<app-skeleton [skeletons]="1"></app-skeleton>
}
