<form [formGroup]="songForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>{{ "song-form.title" | translate }}</mat-label>
    <input
      matInput
      formControlName="title"
      placeholder="{{ 'song-form.placeholder.title' | translate }}"
    />
    @if (songForm.get('title')?.hasError('required') &&
    (songForm.get('title')?.touched || songForm.get('title')?.dirty)) {
    <mat-error>{{ "song-form.error.titleRequired" | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "song-form.artist" | translate }}</mat-label>
    <input
      matInput
      [formControl]="getControl('artist')"
      [matAutocomplete]="artistAuto"
      placeholder="{{ 'song-form.placeholder.artist' | translate }}"
    />
    <mat-autocomplete
      #artistAuto="matAutocomplete"
      [displayWith]="displayArtist"
    >
      @for (artist of filteredArtists | async; track artist) {
      <mat-option [value]="artist.id">
        {{ artist.name }}
      </mat-option>
      }
    </mat-autocomplete>
    @if ( songForm.get('artist')?.hasError('required') &&
    (songForm.get('artist')?.touched || songForm.get('artist')?.dirty) ) {
    <mat-error>
      {{ "song-form.error.artistRequired" | translate }}
    </mat-error>
    } @if (songForm.get('artist')?.hasError('invalidArtist')) {
    <mat-error>
      {{ "song-form.error.invalidArtist" | translate }}
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "song-form.genre" | translate }}</mat-label>
    <mat-chip-grid
      [formControl]="getControl('genre')"
      #genreChipGrid
      aria-label="Enter genres"
    >
      @for (genre of songForm.value.genre; track genre) {
      <mat-chip-row [removable]="true" (removed)="removeGenre(genre)">
        {{ genre }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      placeholder="{{ 'song-form.placeholder.genre' | translate }}"
      [matChipInputFor]="genreChipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addGenre($event)"
    />
    @if (songForm.get('genres')?.hasError('required') &&
    (songForm.get('genres')?.touched || songForm.get('genres')?.dirty)) {
    <mat-error>{{ "song-form.error.genreRequired" | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "song-form.recordLabel" | translate }}</mat-label>
    <mat-select formControlName="companies" multiple>
      @for (company of companyIdMap(); track company) {
      <mat-option [value]="company.id">
        {{ company.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "song-form.year" | translate }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="year"
      placeholder="{{ 'song-form.placeholder.year' | translate }}"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (songForm.get('year')?.hasError('required') &&
    (songForm.get('year')?.touched || songForm.get('year')?.dirty)) {
    <mat-error>{{ "song-form.error.yearRequired" | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "song-form.rating" | translate }}</mat-label>
    <input
      matInput
      formControlName="rating"
      type="number"
      placeholder="{{ 'song-form.placeholder.rating' | translate }}"
    />
    @if (songForm.get('rating')?.hasError('required') &&
    (songForm.get('rating')?.touched || songForm.get('rating')?.dirty)) {
    <mat-error>{{ "song-form.error.ratingRequired" | translate }}</mat-error>
    } @if (songForm.get('rating')?.hasError('min') &&
    (songForm.get('rating')?.touched || songForm.get('rating')?.dirty)) {
    <mat-error>{{ "song-form.error.ratingMin" | translate }}</mat-error>
    } @if (songForm.get('rating')?.hasError('max') &&
    (songForm.get('rating')?.touched || songForm.get('rating')?.dirty)) {
    <mat-error>{{ "song-form.error.ratingMax" | translate }}</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    {{ "song-form.save" | translate }}
  </button>
</form>
