<form [formGroup]="songForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label i18n>Título</mat-label>
    <input
      matInput
      formControlName="title"
      placeholder="Indique el título de la canción"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>Artistas</mat-label>
    <input
      matInput
      formControlName="artists"
      placeholder="Indique el/los artistas"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>Género</mat-label>
    <mat-chip-grid
      [formControl]="getControl('genres')"
      #genreChipGrid
      aria-label="Enter genres"
    >
      @for (genre of songForm.value.genres; track genre) {
      <mat-chip-row [removable]="true" (removed)="removeGenre(genre)">
        {{ genre }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      placeholder="Añade un género"
      [matChipInputFor]="genreChipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addGenre($event)"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>Compañía discográfica</mat-label>
    <mat-chip-grid
      [formControl]="getControl('companies')"
      #companyChipGrid
      aria-label="Enter companies"
    >
      @for (company of songForm.value.companies; track company) {
      <mat-chip-row [removable]="true" (removed)="removeCompany(company)">
        {{ company }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      placeholder="Añade una compañía"
      [matChipInputFor]="companyChipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addCompany($event)"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>País</mat-label>
    <mat-select formControlName="country">
      @for (c of countries; track $index) {
      <mat-option [value]="c">
        {{ c }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>Año</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="year"
      placeholder="Indique el año"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n>Puntuación</mat-label>
    <input
      matInput
      formControlName="rating"
      type="number"
      placeholder="Indique la puntuación"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" i18n>Guardar</button>
</form>
