@let songs = populatedSongs();

<div class="songs-list__flex-container">
  @for(song of songs; track song.id){

  <mat-card
    appearance="raised"
    class="songs-list__card"
    [routerLink]="[song.id]"
  >
    <mat-card-header>
      <mat-card-title
        >{{ song.title }} ({{ song._artist?.name }})</mat-card-title
      >
    </mat-card-header>

    <img
      width="512"
      height="320"
      mat-card-image
      class="songs-list__card-image"
      [src]="song.poster"
      alt="Song Poster"
    />

    <mat-card-content>
      @for (genre of song.genre; track $index) {
      <mat-chip>{{ genre }}</mat-chip>
      }
    </mat-card-content>
  </mat-card>
  } @empty {
  <app-skeleton class="songs-list__skeleton" [skeletons]="6"></app-skeleton>
  }
</div>

<button
  mat-fab
  color="primary"
  class="songs-list__add-song-button"
  [matTooltip]="tooltip()"
  [routerLink]="['new']"
  data-test="add-song-button"
>
  <mat-icon>add</mat-icon>
</button>

