:host {
  --card-height: 28rem;

  %card-base {
    margin: 1rem 1rem 0;
    width: 90%;
    max-width: 32rem;
    height: var(--card-height);
  }

  %card-image-base {
    object-fit: cover;
    max-height: 20rem;
    max-width: 100%;
  }

  .songs-list__card {
    @extend %card-base;
    cursor: pointer;
  }

  .songs-list__card-image {
    @extend %card-image-base;
  }

  .songs-list__flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .songs-list__add-song-button {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    transform: scale(1.5);
  }

  ::ng-deep app-skeleton {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    .skeleton__card {
      @extend %card-base;
      margin-bottom: 0;
    }

    .skeleton__card-image {
      @extend %card-image-base;
      width: 100%;
      height: 480px;
      position: relative;
    }
  }
}
