:host {
  display: block;
  height: 100%;

  mat-sidenav-container {
    height: 100%;
  }

  h2 {
    margin-left: 1rem;
  }

  mat-list-item div {
    display: flex;
    justify-content: space-between;
  }

  .side-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .side-nav__close-button {
    margin-right: 0.5rem;
  }
}
