<mat-sidenav-container
  class="example-container"
  (backdropClick)="toggleSidenav()"
>
  <mat-sidenav mode="over" [opened]="sidenavStore.isOpenSidenav()">
    <div class="side-nav__header">
      <h2 i18n>Menu</h2>
      <button
        (click)="toggleSidenav()"
        mat-icon-button
        class="side-nav__close-button"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/songs']">
        <div i18n>Canciones <mat-icon>arrow_forward</mat-icon></div>
      </mat-list-item>
      <mat-list-item>
        <div i18n>
          Aristas <mat-icon>arrow_forward</mat-icon>
        </div></mat-list-item
      >
      <mat-list-item>
        <div i18n>
          Compañías discográficas <mat-icon>arrow_forward</mat-icon>
        </div></mat-list-item
      >
    </mat-nav-list>

 
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
